@charset "UTF-8";

body{
    background-color: brown;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 25%;
    margin-right: 25%;
}

nav ul {
    list-style: none;
    text-align: center;
    display: flex;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

