@charset "UTF-8";

/* Reset de margin, padding e box-sizing */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/* Corpo da página */
body{
    text-align: justify;
    color: #4B2E2B;
    background-color: #F5F1EB;
}
main{
    background-color: #F2E6D8
}
.container {
    max-width: 50vw; 
    margin: 0 auto; 
    padding-top: 100px; 
}
 /*Cabeçalho*/
 /* essa config foi feita para que o cabeçario náo se aplique a margin-left: 20% do body */
.Cabeçalho{
    background-color: #4B3621 ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px; 
}
header{ 
    text-align: center;
    color: #B87333  ;
}

#logo{
    text-align: start;
    width: 50px;
    height: 50px;
}

nav ul{
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 10px 0px;
    }

nav ul li a{
    margin: 0 20px;
    color:#B87333;
    text-decoration: none;
}

nav ul li a:hover{
     background-color: rgb(255, 57, 57);
    border-radius: 5px;
}

.T1{
    text-align: center;
    color: rgb(0, 0, 0);
}

.titulos{
    text-align: center;
    color: #4B3621 ;
}

#complementos{
    text-align: center;
    text-decoration: none;
    list-style: none;
}

.xicara{
    text-align: center;
}